In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [['PE','Pernambuco','Recife'],['RJ','Rio de Janeiro','Rio de Janeiro'],['PB','Paraíba','João Pessoa']],
    columns=['Sigla','Nome','Capital']
)
df

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa

In [4]:
df['Sigla']

0    PE
1    RJ
2    PB
Name: Sigla, dtype: object

In [5]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
df.ix[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [7]:
df.iloc[0]

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [8]:
df.iloc[:2]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro

In [9]:
df.ix[:2]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa

In [12]:
df.index= pd.Index([1,2,3])
df

  Sigla            Nome         Capital
1    PE      Pernambuco          Recife
2    RJ  Rio de Janeiro  Rio de Janeiro
3    PB         Paraíba     João Pessoa

In [14]:
df.index = df['Sigla']
df

      Sigla            Nome         Capital
Sigla
PE       PE      Pernambuco          Recife
RJ       RJ  Rio de Janeiro  Rio de Janeiro
PB       PB         Paraíba     João Pessoa

In [15]:
df.ix['PE']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: PE, dtype: object

In [16]:
del df['Sigla']
df

                 Nome         Capital
Sigla
PE         Pernambuco          Recife
RJ     Rio de Janeiro  Rio de Janeiro
PB            Paraíba     João Pessoa