In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [['fchollet/keras',11302],['openai/universe',4350],['pandas-dev/pandas',8168]]
)

In [3]:
df.shape

(3, 2)

In [4]:
df

                   0      1
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [5]:
df = pd.DataFrame(
    [['fchollet/keras',11302],['openai/universe',4350],['pandas-dev/pandas',8168]],
    columns=['repository','stars']
)
df

          repository  stars
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [6]:
df['stars']

0    11302
1     4350
2     8168
Name: stars, dtype: int64

In [7]:
df['stars'][0]

11302

In [8]:
df['repository']

0       fchollet/keras
1      openai/universe
2    pandas-dev/pandas
Name: repository, dtype: object

In [9]:
df['repository'][2]

'pandas-dev/pandas'

In [10]:
df['stars'].mean()

7940.0

In [11]:
df['stars'].median()

8168.0

In [13]:
df.iloc[1]

repository    openai/universe
stars                    4350
Name: 1, dtype: object

In [14]:
df.iloc[1]['stars']

4350

In [15]:
df.iloc[1]['repository']

'openai/universe'